!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Transious: Real Time Transit
    %link{:href => "css/transious.css", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans|Raleway:200", :rel => "stylesheet"}
  %body
    %header
      %h1 Transious
      %p.headline
        %img{:class => "icon", :alt => "Bus icon", :src => "cb-default.png"}
        Real time transit, optimized for commuters. 
    %section
      :markdown
        Coming Fall 2016 to iOS.

        Beginning with [CityBus][0] in West Lafayette, Indiana, we're building
        an extensible, event-driven transit platform that combines static and
        real-time data to understand where your bus (or train, or ferry, or
        [funicular][1]) is and when it'll be near you.

        Internally, and historically, Transious is called [Proper Shark][2]. Follow
        the development of our little platform [on GitHub][3].

        [0]: http://www.gocitybus.com
        [1]: https://en.wikipedia.org/wiki/Funicular
        [2]: https://github.com/propershark/why_proper_shark
        [3]: https://github.com/propershark
